@media screen and (max-width: 400px) {
    #features {
      padding: 20px;
      width: 111%;
    }
    #about,
    #services,
    #testimonials,
    #team,
    #contact,
    #footer {
      width: 111%;
    }

    #portfolio {
      width: 110%;
    }
  }

  /* movies Section */
/* #movies {
  padding: 100px 0;
}
#movies h4 {
  margin: 5px 0;
}
#movies .team-img {
  width: 240px;
}
#movies .thumbnail {
  background: transparent;
  border: 0;
}
#movies .thumbnail .caption {
  padding: 10px 0 0;
  color: #888;
} */
