/* MovieDetail.css */
.movie-container {
  background-color: #f4f4f4; 
  color: #404040; 
  padding: 20px;
  border-radius: 8px;
  margin: 40px auto;
  max-width: 100%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.movie-info {
  display: flex;
  flex-direction: column; /* Make elements vertically aligned */
  align-items: center; 
}

.movie-title {
  font-size: 2.5rem;
  color: #444;
  margin: 20px 0;
}

.movie-poster {
  max-width: 50%; 
  max-height: 450px; /* Increase the maximum height of the image */
  margin: 0 auto 32px; /* Add top and bottom outer margins and auto-center */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadows to add dimension */
}

.movie-synopsis {
  font-size: 1.1rem;
  line-height: 1.8;
  color: #666;
  max-width: 80%; /* Controls the maximum width of the overview */
}

.watchlist-button {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .movie-container {
    margin: 20px;
  }

  .movie-poster {
    max-width: 90%; /* Increase image width on small screens */
  }

  .movie-synopsis {
    max-width: 90%; /* Increase width of overview on small screens */
  }
}

/* Display Rating */
.star-radio-btn {
  display: none;  /* Hide native radio buttons */
}

.rating {
  display: flex;
  flex-direction: row-reverse; /* Stars are displayed from left to right */
  justify-content: left; 
  font-size: 2rem; 
}

/* Change color when hovering over a star and when the star is selected */
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input:checked ~ label {
  color: #ffd700; /* Star hover or selected color */
}

/* When a star is selected, make sure the stars behind it don't change color */
.rating > input:checked ~ label:hover ~ label,
.rating > input:checked ~ label ~ label:hover,
.rating > label:hover ~ input:checked ~ label {
  color: #ddd; /* Default star color */
}

/* Styles for text entry fields for rating forms */
.review-input-container {
  display: flex;
  flex-direction: column; /* Make labels and text areas vertically aligned */
}
.priv-Button {
  position: absolute;
  width: 100px;
  height: 50px;
  right: 5%;
  z-index: 100;
}

.reviewer-name-link {
  text-decoration: none;
  color: inherit; 
}

.reviewer-name-link:hover {
  text-decoration: underline; 
  color: blue; 
}

.review-textarea {
  margin-top: 0.5em; 
  min-height: 100px; 
  max-width: 400px;
}

.submit-review-btn {
  background-color: #0056b3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1em; 
  max-width: 200px; 
}

.submit-review-btn:hover {
  background-color: #003d82; /* Background color on mouse hover */
}

/* Review list*/
.reviews-container {
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.review-block {
  border: 1px solid #ccc;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 4px;
  background-color: white;
}

.reviewer-name {
  font-weight: bold;
  color: #333;
  display: block; /* Or flex if you want to align items in line */
}

.star {
  margin: 0 2px;
  color: gold;
}

.review-text {
  color: #333;
  font-size: 16px;
}

.review-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  color: #666;
}

.review-actions {
   background: none;
  border: none;
  padding: 4px
}

.edit-btn, .delete-btn {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.edit-btn {
  background-color: #f0ad4e; /* Bootstrap's button-warning color */
  color: white;
}

.delete-btn {
  background-color: #d9534f; /* Bootstrap's button-danger color */
  color: white;
}

